<%= form_for(resource, :as => resource_name, :url => user_confirmation_path, :html => { :method => :post ,:class=> "form-horizontal"}) do |f| %>
    <fieldset>
      <%= devise_error_messages! %>
      <legend><h2>Resend confirmation instructions</h2></legend>
      <div class="control-group">
        <label class="control-label" for="input01">Email</label>
        <div class="controls">
          <%= f.email_field :email,:class=>"input" %>
          <!--<input type="text" class="input-xlarge" id="input01">-->
          <p class="help-block"></p>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Resend confirmation instructions",:class =>"btn btn-primary"  %>
        <a class="btn" href="/">Cancel</a>
        <!--<input type="text" class="input-xlarge" id="input01">-->
      </div>
    </fieldset>
<% end %>

<%#= render :partial => "devise/shared/links" %>