<li>
  <a href="<%= related_ideas_admin_group_owners_path %>">Ideas</a>
</li>

<li>
  <a href="<%= view_all_workers_admin_group_owners_path %>">all workers</a>
</li>
<li>
  <a href="<%= all_my_admin_group_workers_admin_group_owners_path %>">all  Admin Group workers</a>
</li>
<li>
  <a href="<%= my_keys_admin_group_owners_path %>">Keys</a>
</li>
