<div style="margin-left: 325px;"><ul>
 <a href="">Profile</a>    |
     <%= link_to 'General Settings',edit_general_settings_global_admin_path(current_user) %>   |
        <a href="">Commissions Settings</a>  |
        <%= link_to 'PaaS Settings',"#", :confirm => 'Under development' %>     |
        <%= link_to 'PaaS Products Table',"#", :confirm => 'Under development' %>

</ul>
</div>