  <li>
    <a href="<%= all_admins_global_admins_path%>">Admin Management</a>
  </li>
  <li>
    <a href="<%= new_local_admin_local_admins_path %>">New LocalAdmin</a>
  </li>
  <li>
    <a href="<%= ideas_global_admins_path %>">Ideas</a>
  </li>
