<div><ul>
  <h4>      <%= link_to 'Global Admin General Settings',edit_general_sttings_global_admin_path(current_user),:style=>" text-decoration: underline;" %>   |
        <a href="">Global Admin Commissions Settings</a>  |
        <%= link_to 'Global Admin PaaS Settings',"#", :confirm => 'Under development' %>     |
        <%= link_to 'PaaS Products Table',"#", :confirm => 'Under development' %>
  </h4>
</ul>
</div>