<li>
<a href="<%= main_local_admin_all_users_path %>">All Users</a>
</li>
<!--
<li>
<a href="<%#= main_local_admin_ideas_belonging_to_users_path %>">All Ideas</a>
</li>
<li>
  <a href="<%#= main_local_admin_listing_good_ideas_path %>">All Good Ideas</a>
</li>
<li>
  <a href="<%#= main_local_admin_listing_projects_path %>">All Projects</a>
</li>         -->
