<li>

 <%split_array = request.url.split("/") %>
  <a href="#"><%= split_array.include?("admin_group_owners")? "SAGO" : "User" %></a>
</li>

<li>
	<a href="<%= new_idea_path %>">Propose Idea</a>
</li>
<li>
	<a href="<%= ideas_path %>">My Ideas</a>
</li>
<li>
	<a href="<%= show_good_idea_ideas_path %>">My Good Ideas</a>
</li>

<!--<li>-->
	<!--<a href="<%#= my_own_project_ideas_path %>">My Own Projects</a>-->
<!--</li>-->
