<ul class="nav">
  <li>
    <%= link_to "worker link1"%>
  </li>
  <li>
    <%= link_to "worker link2"%>
  </li>
  <li>
    <%= link_to "worker link3"%>
  </li>
  <li>
    <%= link_to "worker link4"%>
  </li>

</ul>