<table border="1" class="table">
  <thead> <tr>
    <th>Email</th>
    <th>Country</th>
    <th>Action</th>
  </tr>
  </thead>

  <% @local_admins.each do |local_admin| %>

      <tr>
        <td><%= local_admin.email %></td>
        <td><%= local_admin.country %></td>
         <td> <%= link_to 'Change to MLA', change_admin_role_path(local_admin), confirm: 'Are you sure?', method: :get %></td>
      </tr>
  <% end %>

</table>
