<h1>Upgrade Workers to AGW</h1>


<table border="1" class="table">
  <thead> <tr>
    <th>Email</th>
    <th>Country</th>
    <th>Action</th>
  </tr>
  </thead>

  <% @workers.each do |worker| %>

      <tr>
        <td><%= worker.email %></td>
        <td><%= worker.country %></td>
        <td> <%= link_to 'Change to AGW',to_AGW_path(worker)%>
          <%= link_to "Change to CW",change_worker_to_consultant_worker_consultant_worker_path(worker.id) %></td>
      </tr>
  <% end %>

</table>
