<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Crowd_funding </h1>
<p>
  you are assigned as AdminGroup Owner For <%=  @la_setting.la_country unless  @la_setting.blank? %>

</p>
<p>

</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>