<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Crowd_funding , <%= @profile.full_name unless @profile.blank? %></h1>
<p>
  your account is successfully created as AdminGroup Owner For <%=  @la_setting.la_country unless  @la_setting.blank? %>
  your login  is: <%= @ag.email  unless @ag.blank? %>.<br/>
  password is :  <%=@value  %>.
</p>
<p>

</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>