<div class="span6 videoPlayer">
  <ul class="thumbnails">
    <li> <div class="thumbnail">
      <% if current_user.present? && current_user.profile.present? %>
          <% if current_user.profile.video_url.present? %>
              <div id="container">Loading the player ...</div>
          <%end%>
          <% if current_user.profile.image_url.present? %>

              <div id="image"><%= image_tag current_user.profile.image_url , :width => 320, :height=> 320 %></div>
          <%end%>

      <%end%>

      <script type="text/javascript">
          $(document).ready(function(){

          });
          jwplayer("container").setup({
              autostart: false,
              controlbar: "none",
              file: "<%=  current_user.present? && current_user.profile.present? && current_user.profile.video_url.present? ? current_user.profile.video_url : nil%>",
              duration: 1000,
              flashplayer: "/jwplayer/player.swf",
              volume: 80,
              width: 320,
              height: 240,
              'controlbar': 'bottom',

              events: {
                  onComplete: function(event) {
//                      $("#chkDoYouAgree").show();
                  }
              }
          });
      </script>
    </div> </li>
  </ul>
</div>
