<section id="gridSystem">
  <!--<div class="page-header"></div>-->
  <div class="row show-grid">
    <div class="span4">
      <h1>Homes#news_letter</h1>
      <p>Find me in app/views/homes/news_letter.html.erb</p>

      <%= form_tag( send_news_letter_homes_path) do %>

        <%= select_tag "lists" ,options_for_select(@lists_name)%>
<div id="wait"></div>
          <div id="camp">
            <%= render :partial => 'get_campaigns' %>
          </div>

          <div><%= submit_tag "Subscribe"  %></div>
      <% end %>

      <%#= render :partial => "devise/shared/links" %>
    </div>

  </div>



</section>

