.ui-corner-all{
    background: rgba(0, 0, 0, 0.35)
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}


.sidebar-nav .nav > li > a:hover {
    color: #000000;
}