<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%#= link_to 'Change my password', edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p><%#= link_to 'Change my password', edit_user_password_path(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<% if !(@resource.get_all_roles.include?("Global Admin") ||  @resource.get_all_roles.include?("Local Admin")) %>
<p>

  <a href= <%= "//#{LOCAL_HOST}" + edit_user_password_path(@resource, :reset_password_token => @resource.reset_password_token) %> >   Change My Password </a></p>

<p>

  <%else%>

  <a href= <%= "//#{ADMIN_HOST}" + edit_user_password_path(@resource, :reset_password_token => @resource.reset_password_token) %> >

    Change My Password

  </a>
    <% end %>
</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
