<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Hi <%= @user.profile.full_name unless @user.profile.blank? %>
<p>
  your role has been changed to <strong><%=@role %> </strong>in <strong>Crowd Funding</strong>.

<p>Thanks and have a great day!</p>
</body>
</html>